
# Core
Flask==2.3.3
gunicorn==21.2.0

# Telegram Bot
aiogram==3.13.1

# Database - без вказання версій підпакетів
supabase==2.7.4

# HTTP
aiohttp==3.9.5
requests==2.31.0

# Config
python-dotenv==1.0.1

# Utils
structlog==24.1.0
pydantic==2.6.1
ujson==5.9.0

# DB
psycopg2-binary==2.9.9
redis==5.0.1
